html,
body, #root {
  margin: 0;
  height: 100vh;
}

.app {
  padding: 15px;
  height: 100vh;
}

.dark {
  background-color: #282828;
  color: #ebdbb2;
}

.white {
  background-color: white;
  color: black;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}

button.button_dark {
  background-color: #4d4542;
  color: #ebdbb2;
  border: 1px solid #ebdbb2;
}

button.button_light {
  background-color: #ebdbb2;
  color: #4d4542;
  border: 1px solid #4d4542;
}
